attached_assets/exploration_reports.geojson filter=lfs diff=lfs merge=lfs -text
attached_assets/Exploration_Reports.gdb/a00000009.gdbtable filter=lfs diff=lfs merge=lfs -text
attached_assets/doc.kml filter=lfs diff=lfs merge=lfs -text
